{% extends 'base.html' %}

{% block content %}
<h1>{{ book.title }}</h1>

<p><strong>Author:</strong> {{ book.author }}</p>
<p><strong>Description:</strong> {{ book.description }}</p>
<p><strong>Pages:</strong> {{ book.pages }}</p>

<a href="{% url 'book-update' book.id %}" class="btn">Edit</a>
<a href="{% url 'book-delete' book.id %}" class="btn danger">Delete</a>

<h2>Genres</h2>

<form action="{% url 'associate-genre' book.id %}" method="post">
  {% csrf_token %}
  <label for="genre">Update Genre:</label>
  <select name="genre" id="genre" multiple size="{{ all_genre.count }}">
    {% for genre in all_genre %}
    <option value="{{ genre.id }}" {% if genre in book.genre.all %} selected {% endif %}>{{ genre.name }}</option>
    {% endfor %}
  </select>
  <button type="submit">Update Genre</button>
</form>

<h3>Add a new genre and associate it to the book:</h3>
<form action="{% url 'add-and-associate-genre' book.id %}" method="post">
  {% csrf_token %}
  {{ genre_form.as_p }}
  <button type="submit">Add and associate Genre</button>
</form>

<h2>Reading Progress</h2>

{% if book.read_for_today %}
  <p>✅ {{ book.title }} has a reading logged for today.</p>
{% else %}
  <p>⏳ {{ book.title }} has not been read today.</p>
{% endif %}

<h3>Add a Reading</h3>
<form action="{% url 'add-reading' book.id %}" method="post">
  {% csrf_token %}
  {{ reading_form.as_p }}
  <button type="submit">Add Reading</button>
</form>

<h3>Past Readings</h3>
{% if book.reading_set.all.count %}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for reading in book.reading_set.all %}
        <tr>
          <td>{{ reading.date }}</td>
          <td>{{ reading.get_status_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No reading progress recorded for {{ book.title }} yet!</p>
{% endif %}
{% endblock %}
